<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selecció d'estils</title>
  <link rel="stylesheet" href="../../CSS/global.css">
</head>
<body>
  <header>
    <div>
        <nav>
            <div>
                <a href="homeVista.php">
                    <img class="iconoHome" src="../../../Documentacion/imatges/icones/hogar.png" alt="Icono Home">
                </a>
            </div>
            <div class="nom">
              <h1>SLIDES|| HOME</h1>
            </div>
        </nav>
    </div>
</header>
<div class="contenidorWarning contenidorWarningEstil">Has d'escollir un estil</div>
    <div class="botoConfirmarSeleccio">
      <button class="confirmarSeleccio">Confirmar selecció</button>
    </div>
      <div class="boxSeleccioEstils">
        <form id="formEstils" action="presentacio.php" method="post">
          <input type="hidden" id="estilPresentacio" name="estilPresentacio">
        </form>
        <div class="representacioEstilSeleccionat dark">
        <div class="titolRepresentacio titolContingutRepresentacio">
          <p class="textRepresentacio">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet expedita quia esse eius minima recusandae sint dolorem? Autem cum quasi, maxime quaerat ab dolores consequuntur, </p>
        </div>
        <div class="contingutRepresentacio titolContingutRepresentacio">
          <p class="textRepresentacio">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero necessitatibus a, obcaecati atque maxime molestiae asperiores dolores cumque voluptatem dolorum eos provident beatae temporibus tempore nulla enim tenetur quo soluta?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum repellat itaque ipsa illum praesentium dolor eligendi in labore aperiam temporibus, aspernatur quod quisquam del</p>
          <p class="textRepresentacio">ectus excepturi blanditiis veritatis, id officia dolores. consectetur adipisicing elit. Inventore laboriosam expedita dolore. Qui in ratione doloremque ut quos odit illo impedit quam nostrum eius? Beatae, eligendi nam. Excepturi, assumenda ex.</p>
          <p class="textRepresentacio">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil eum assumenda Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim cumque nesciunt dolorum atque vel voluptatibus quae deleniti laudantium, quas animi temporibus cupiditate. Ullam illum cupiditate, officiis officia quibusdam consectetur. Dolore! nemo natus voluptates veritatis hic modi.</p>
        </div>
      </div>
      <div class="representacioEstilSeleccionat blue">
        <div class="titolRepresentacio titolContingutRepresentacio">
          <p class="textRepresentacio">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet expedita quia esse eius minima recusandae sint dolorem? Autem cum quasi, maxime quaerat ab dolores consequuntur, </p>
        </div>
        <div class="contingutRepresentacio titolContingutRepresentacio">
          <p class="textRepresentacio">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero necessitatibus a, obcaecati atque maxime molestiae asperiores dolores cumque voluptatem dolorum eos provident beatae temporibus tempore nulla enim tenetur quo soluta?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum repellat itaque ipsa illum praesentium dolor eligendi in labore aperiam temporibus, aspernatur quod quisquam del</p>
          <p class="textRepresentacio">ectus excepturi blanditiis veritatis, id officia dolores. consectetur adipisicing elit. Inventore laboriosam expedita dolore. Qui in ratione doloremque ut quos odit illo impedit quam nostrum eius? Beatae, eligendi nam. Excepturi, assumenda ex.</p>
          <p class="textRepresentacio">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil eum assumenda Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim cumque nesciunt dolorum atque vel voluptatibus quae deleniti laudantium, quas animi temporibus cupiditate. Ullam illum cupiditate, officiis officia quibusdam consectetur. Dolore! nemo natus voluptates veritatis hic modi.</p>
        </div>

      </div>
    </div>
  <script src="../../JavaScript/seleccionaEstils.js"></script>
</body>
</html>